{% extends "base.html" %}


{% block content %}
<!-- Content Wrapper -->

<div class="container">
  <form>
    <h2>Global Costs</h2>

    <div class="row">
      <div class="col-md-3">

        <div class="form-group">
          <label for="">Cost 2</label>
          <input type="email" class="form-control" id="email" placeholder="Cost 2">
        </div>
      </div>
      <!--  col-md-6   -->

      <div class="col-md-3">
        <div class="form-group">
          <label for="url">Cost 3</label>
          <input type="url" class="form-control" id="url" placeholder="url">
        </div>

      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label for="url">Cost 4</label>
          <input type="url" class="form-control" id="url" placeholder="url">
        </div>

      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label for="url">Cost 5</label>
          <input type="url" class="form-control" id="url" placeholder="url">
        </div>

      </div>
      <!--  col-md-3  -->
    </div>
    <!--  row   -->


    <button type="submit" class="btn btn-primary">Save Changes</button>
  </form>

  <form id='product-cost-form'>
    <h2>Product Costs</h2>
    <div class='row'>
      <div class="col-xl-12">
        <div class="form-group">
          <label for="prods">Sele:</label>
          <select class="form-control" id="sel1">
            <option>Select A Product</option>
          </select>
        </div>
      </div>

    </div>
    <div class="row">

      <div class="col-md-3">

        <div class="form-group">
          <label for="">Encore Shipping Cost</label>
          <input type="email" class="form-control" id="email" placeholder="Cost 2">
        </div>
      </div>
      <!--  col-md-6   -->

      <div class="col-md-3">
        <div class="form-group">
          <label for="url">Product Cost</label>
          <input type="url" class="form-control" id="url" placeholder="url">
        </div>

      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label for="url">Cost 4</label>
          <input type="url" class="form-control" id="url" placeholder="url">
        </div>

      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label for="url">Cost 5</label>
          <input type="url" class="form-control" id="url" placeholder="url">
        </div>

      </div>
      <!--  col-md-3  -->
    </div>



    <!--  row   -->
    <button type="submit" class="btn btn-primary">Save Changes</button>
  </form>

</div>
<!-- End of Content Wrapper -->
{% endblock %}